.modal-close {
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.part-contact-details {
  margin-top: 30px;
  .title {
    text-decoration: underline;
    font-weight: 600;
  }
  .part-detail {
    margin-left: 15px;
  }
}
