.modal-close {
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.part-contact-details {
  margin-top: 30px;
  .title {
    text-decoration: underline;
    font-weight: 600;
  }
  .part-detail {
    margin-left: 15px;
  }
}

.card-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-icon,
.delete-icon {
  padding: 1rem;
  
  margin: 1rem 1rem 0;
  i {
    background-color: rgb(233, 230, 230);
    padding: 1rem;
    border-radius: 50%;
  }
}

.category-container {
  padding: 2rem;
  .card {
    margin: 1rem 0;
  }
}

.parts-view {
  padding: 2rem;
}